.about
  grid-area: about
  display: grid
  grid-template-columns: 1fr 6fr 1fr
  grid-template-rows: auto 50px auto 50px auto
  grid-template-areas: ". heading ." ". . ." ". vid ." ". . ." "text text text"
  +desktop
    grid-template-rows: auto 30px auto 30px auto
    grid-template-areas: ". heading ." ". . ." "vid vid vid" ". . ." ". text ."

.about__heading
  grid-area: heading
  +font-big
  text-align: center
  +desktop
    +font-med
.about__video
  //in scaffolding because of repeated properties
.about__text
  grid-area: text
  +font-small
