html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section,
main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button, input, textarea {
  border: none;
  outline: none; }

figure {
  line-height: 0; }

@font-face {
  font-family: "";
  font-weight: 400;
  font-style: normal;
  src: local(""), local(""), url("../fonts/.woff2") format("woff2"), url("../fonts/.woff") format("woff"); }

@font-face {
  font-family: "";
  font-weight: 700;
  font-style: normal;
  src: local(""), local(""), url("../fonts/.woff2") format("woff2"), url("../fonts/.woff") format("woff"); }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body {
  background: whitesmoke;
  color: #000000; }

a {
  color: inherit;
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5); }

sup,
sub {
  position: relative;
  vertical-align: baseline; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.grid {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: auto  50px  auto;
  grid-template-areas: ". header ." ". . ." "main main main" ". . ." "footer footer footer"; }

.tilt {
  display: block;
  grid-area: tilt;
  position: relative;
  top: -50px;
  height: 100px;
  width: 100%;
  -webkit-transform: skewy(-3deg);
  -ms-transform: skewy(-3deg);
  transform: skewy(-3deg);
  background: #000000; }

.intro__video-container,
.about__video-container {
  grid-area: vid;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5); }

.intro__video,
.about__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: auto;
  grid-row: auto;
  margin: 20px 0 0 0; }

.header__logo {
  margin: 0 auto; }

.nav {
  height: 60px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px; }
  .nav__item--active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 60px;
    background-color: #000000;
    color: #c98ed1; }

.nav__link {
  padding: 15px;
  height: 60px;
  cursor: pointer;
  font-size: 24px;
  line-height: 25px; }
  .nav__link:hover {
    background-color: #000000;
    color: #c98ed1; }

.main-page {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: auto  200px  auto  200px  auto;
  grid-template-areas: ". welcome ." ". . ." ". intro ." ". . ." " artshop artshop artshop"; }

.welcome {
  grid-area: welcome;
  display: grid;
  grid-template-columns: 1fr  50px  1fr;
  grid-template-rows: auto;
  grid-template-areas: "description . img"; }

.welcome__description {
  grid-area: description;
  -ms-flex-item-align: center;
  align-self: center; }

.welcome__heading {
  font-size: 58px;
  line-height: 60px;
  margin: 10px 0; }

.welcome__artists {
  font-size: 24px;
  line-height: 25px;
  text-transform: uppercase;
  margin: 10px 0; }

.welcome__date {
  font-weight: 700;
  margin: 10px 0;
  text-decoration: underline; }

.welcome__text {
  font-size: 24px;
  line-height: 25px; }

.welcome__image {
  grid-area: img;
  width: 100%;
  height: auto; }

.intro {
  grid-area: intro;
  display: grid;
  grid-template-columns: 1fr 50px 1fr;
  grid-template-rows: auto  100px  500px;
  grid-template-areas: "heading heading heading" ". . ." "vid . text"; }

.intro__heading {
  grid-area: heading;
  font-size: 58px;
  line-height: 60px;
  text-align: center; }

.intro__text {
  grid-area: text;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 24px;
  line-height: 25px; }

.artshop {
  grid-area: artshop;
  background-color: #000000;
  color: whitesmoke;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100px  auto  100px  auto  100px  auto  100px;
  grid-template-areas: "tilt" "heading" "." "slider" "." "link" "."; }

.artshop__heading {
  grid-area: heading;
  text-align: center;
  font-size: 58px;
  line-height: 60px; }

.artshop__slider {
  grid-area: slider; }

.artshop__link {
  grid-area: link;
  text-align: center;
  font-size: 24px;
  line-height: 25px; }

.slider__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-template-areas: ". item-1 item-2 item-3 item-4 ."; }

.slider__item {
  grid-area: item-1; }
  .slider__item:nth-child(1) {
    grid-area: item-2; }
  .slider__item:nth-child(2) {
    grid-area: item-3; }
  .slider__item:nth-child(3) {
    grid-area: item-4; }

.footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: 1fr 3fr  50px  2fr  50px  3fr 1fr;
  grid-template-rows: 100px  auto  50px  auto;
  grid-template-areas: "tilt tilt tilt tilt tilt tilt tilt" ". nav nav nav nav nav ." ". . . . . . ." ". opening . some . address ."; }

.footer__nav-section {
  grid-area: nav;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto; }

.footer__logo {
  margin: 0 auto;
  padding: 0 0 20px 0; }

.footer__opening {
  grid-area: opening; }

.footer__some {
  grid-area: some; }

.footer__address {
  grid-area: address; }

.footer__opening,
.footer__some,
.footer__address {
  margin-left: auto;
  margin-right: auto; }

.footer__heading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 25px; }

.footer__item {
  font-size: 18px;
  line-height: 20px;
  line-height: 40px; }

.about-page {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: auto  200px  auto;
  grid-template-areas: ". about ." ". . ." "staff staff staff"; }

.about {
  grid-area: about;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: auto 50px auto 50px auto;
  grid-template-areas: ". heading ." ". . ." ". vid ." ". . ." "text text text"; }

.about__heading {
  grid-area: heading;
  font-size: 58px;
  line-height: 60px;
  text-align: center; }

.about__text {
  grid-area: text;
  font-size: 24px;
  line-height: 25px; }

.staff {
  grid-area: staff;
  background-color: #000000;
  padding: 0 0 100px 0; }

.staff__member {
  display: grid;
  grid-template-columns: 1fr 100px 1.1fr 2fr 1.1fr 100px 1fr;
  grid-template-rows: auto;
  grid-template-areas: ". . img text text line-right ."; }
  .staff__member:nth-of-type(2n) {
    grid-template-areas: ". line-left text text img . ."; }
    .staff__member:nth-of-type(2n) .staff__text {
      padding: 0 0 0 20%; }

.staff__img {
  grid-area: img;
  height: 300px;
  padding: 10px;
  background-color: #000000;
  z-index: 1; }

.staff__text {
  grid-area: text;
  color: whitesmoke;
  font-size: 18px;
  line-height: 20px;
  padding: 0 20% 0 0;
  -ms-flex-item-align: center;
  align-self: center; }

.staff__lines--right,
.staff__lines--left {
  position: relative;
  width: 200px;
  height: 200px;
  border-top: 5px solid #84cfa1;
  border-bottom: 5px solid #84cfa1;
  -ms-flex-item-align: end;
  align-self: flex-end; }

.staff__lines--left {
  grid-area: line-left;
  border-left: 5px solid #84cfa1;
  bottom: -75px;
  left: 0px; }

.staff__lines--right {
  grid-area: line-right;
  border-right: 5px solid #84cfa1;
  bottom: -75px;
  left: -150px; }
