.artshop
  grid-area: artshop
  background-color: $black
  color: $white-dark
  display: grid
  grid-template-columns: auto
  grid-template-rows:  100px  auto  100px  auto  100px  auto  100px
  grid-template-areas: "tilt" "heading" "." "slider" "." "link" "."
.artshop__heading
  grid-area: heading
  text-align: center
  +font-big
.artshop__slider
  grid-area: slider
.artshop__link
  grid-area: link
  text-align: center
  +font-small
