.intro
  grid-area: intro
  display: grid
  grid-template-columns: 1fr 50px 1fr
  grid-template-rows: auto [space] 100px [space] 500px
  grid-template-areas: "heading heading heading" ". . ." "vid . text"
.intro__heading
  grid-area: heading
  +font-big
  text-align: center
.intro__text
  grid-area: text
  align-self: center
  +font-small
