.welcome
  grid-area: welcome
  display: grid
  grid-template-columns: 1fr  50px  1fr
  grid-template-rows: auto
  grid-template-areas: "description . img"
.welcome__description
  grid-area: description
  align-self: center
.welcome__heading
  +font-big
  margin: 10px 0
.welcome__artists
  +font-small
  text-transform: uppercase
  margin: 10px 0
.welcome__date
  font-weight: 700
  margin: 10px 0
  text-decoration: underline
.welcome__text
  +font-small
.welcome__image
  grid-area: img
  width: 100%
  height: auto
